{% extends 'stats/index.html' %}
{% block content %}
<div class="content mt-5">
    <h1 class="display-4 ml-2"> Welcome to STATSY</h1>
    <div class="content-article ">
        <p>Welcome to Version 0.4 of STATSY, this website is in the early stages but I am continuosly working
            hard on bringing as much features as I can as fast as I can. If you cannot guess by the name, STATSY
            is all about STATS. If you are a stat guru then this will be the place for you. Take a look around,
            let me know if you run into any bugs <a href=#>here</a>, and give me feedback/suggestions <a href=#>here</a>!
        </p>
        <footer class="blockquote-footer">Username here, <cite>time posted</cite></footer>
    </div>
</div>
<div class="content mt-5">
    <h1 class="display-4 ml-2"> Welcome to STATSY</h1>
    <div class="content-article ">
        <p>Welcome to Version 0.4 of STATSY, this website is in the early stages but I am continuosly working
            hard on bringing as much features as I can as fast as I can. If you cannot guess by the name, STATSY
            is all about STATS. If you are a stat guru then this will be the place for you. Take a look around,
            let me know if you run into any bugs <a href=#>here</a>, and give me feedback/suggestions <a href=#>here</a>!
        </p>
        <footer class="blockquote-footer">Username here, <cite>time posted</cite></footer>
    </div>
</div>
{% endblock %}
