{% extends 'stats/index.html' %}
{% block content %}
<div class="content mt-5">
    <div class="container">
        <div class="row">
            <div class="column ml-3 mb-2">
                <form action="{% url 'player_search' %}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" type="text" name="player">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search Again</button>
                </form>
            </div>
        </div>
        <div class="row">
            <img class="profile" src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{ player.id }}.jpg">
            <h1 class="display-4">{{ player.first_name }} {{ player.last_name }} | #{{ player.primary_number }}</h1>
        </div>
        <div class="row mt-2">
            <div class="col-md-7">
                <div class="card mt-1">
                    <div class="card-header bg-light">
                        <h6 class="text-muted">Player Details</h6>
                    </div>
                    <div class="card-body" style="background-color: #fff8f0">
                        Birthdate: <span class="text-muted">{{player.birth_date}}</span><br>
                        Birth Place: <span class="text-muted">{{player.birth_city}}, {{player.birth_country}}</span><br>
                        Nationality: <span class="text-muted">{{player.nationality}}</span><br>
                        Height/Weight: <span class="text-muted">{{player.height}}/{{player.weight}} lbs</span><br>
                        {% if player.team.id != 0 %}
                        Team: <a href="{% url 'team_info' pk=player.draft.id %}">{{player.draft}}</a><br>
                        {% endif %}
                        Position: <span class="text-muted">{{player.primary_position}}</span><br>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mt-1">
                    <div class="card-header bg-light">
                        <h6 class="text-muted">Draft Details</h6>
                    </div>
                    <div class="card-body" style="background-color: #fff8f0">
                            {% if player.draft.id == 0 %}
                            <h5>Undrafted</h5>
                            {% else %}
                            Drafted by <a href="{% url 'team_info' pk=player.draft.id %}">{{player.draft}}</a><br>
                            Draft Year: {{player.year_drafted}}<br>
                            {% if player.draft %}
                            {{player.round_drafted}} Round | {{player.selection_number}} Overall<br>
                            {% endif %}
                            {% endif %}
                    </div>
                </div>
            </div>

        </div>
<div class="row mt-2">
        <div class="col-md-12">
            <div class="card mt-1">
                <div class="card-header bg-light">
                    <h6 class="text-muted">Career Stats</h6>
                </div>
                <div class="card-body" style="background-color: #fff8f0">
                    1
                    {{ test }}

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
