{% extends 'stats/index.html' %}
{% block content %}
<div class="content mt-5">
    <h3><small>Player Database Search</small></h3>
    <hr style="width:100%;text-align:left;margin-left:0">
    <form action="{% url 'player_search' %}"class="form-inline" method="get" value="{{ request.GET.player }}">
        <input class="form-control mr-sm-2" type="text" name="player">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search Player</button>
        {% if result.message %}
            <p class="text-danger">*{{result.message}}</p>
        {% endif %}
    </form>
    <p><small><a href="#">Advance Search</a> | <a href="{% url 'player_list' %}">All Players</a></small></p>

</div>
    {% if result.success %}
    <div class="content mt-2">
        <p> <b>Results for:</b> <i>{{ result.name|upper }}</i><br>
            <i><small>Search returned {{ page_obj.paginator.count }} player(s)</small></i>
        </p>
        <div class="content-article">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Active</th>
                    <th scope="col">Current Team</th>
                    <th scope="col">Position</th>
                    <th scope="col">Nationality</th>
                </tr>
            </thead>
            <tbody>
                {% for player in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'player_info' pk=player.pk first_name=player.first_name last_name=player.last_name %}">
                            {{player.first_name}}, {{player.last_name}}
                        </a>
                    </td>
                    <td>{% if player.active %}Yes{% else %}No{% endif %}</td>
                    <td>{{player.team}}</td>
                    <td>{{player.primary_position}}</td>
                    <td>{{player.nationality}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1&player={{request.GET.player}}">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}&player={{request.GET.player}}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&player={{request.GET.player}}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&player={{request.GET.player}}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
