{% extends 'stats/index.html' %}
{% block content %}
{% for post in context %}
<div class="content mt-5">
    <h1 class="display-4 ml-2">{{ post.update_title }}</h1>
    <div class="content-article ">
        {{ post.update_content|safe }}
        <footer class="blockquote-footer">
            Posted by: <strong>{{ post.update_username }}</strong>,
            <cite class="ml-2 mr-2">{{ post.update_published }}</cite>
            {% if post.update_edit != post.update_published %}
            <strong>Edited:</strong> <cite>{{ post.update_edit }}</cite>
            {% endif %}
        </footer>
    </div>
</div>
{% endfor %}
{% endblock %}
